:root{
    --verde:#9dfc7b;
    --texto-gris:#a7a7a7;
}

/* Verde anterior de repuesto #bdffa4 */


body{
    font-family: 'Rubik', sans-serif;
    color:#a7a7a7;
    min-height: 95vh;
}


/** Style NavBar **/

nav{
    padding:50px 0 0 0;
    top:0;
    /*background-color:rgb(255, 255, 255, .8);*/
    background: linear-gradient(to bottom, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 100%);
    border-bottom: 1px solid var(--verde);
}

li.nav-item{
    margin:0;
    padding:0;
    flex: 1 1 auto;
    text-align:center;
    position:relative;
    bottom:-1px;
}


ul li a{
    color:#8a8a8a;
    text-decoration: none;
    padding:0px 10px;
    letter-spacing: 4px;
    padding-bottom: 12px;
    line-height: 3;
}


ul li a:hover{
    border-bottom: 4px solid var(--verde);
    text-decoration: none;
    color:#222;
    font-weight:500;
}

ul li a:active{
    border-bottom: 4px solid var(--verde);
    text-decoration: none;
    color:#222;
    font-weight:500;
}


@media screen and (max-width:768px){
    li.nav-item{
        width:100%;
        border-bottom: 1px solid var(--verde);
    }
}






/** Style mi nombre **/

.name-me{
    margin:45px 0px 35px 0;
}


h6{
    font-weight: 100;
    color:#ccc;
    text-transform: uppercase;
    font-size: .75em;
    letter-spacing: 3px;
}

.line{
    height: 0px;
    width:30px;
    border: 2px solid var(--verde);
    display:block;
}


/** Style main section **/

.rect-h1{
    background-color:var(--verde);
    text-align: center;
    padding:0px;
    margin: 0px;

}

h1.main-title{
    font-weight: 500;
    color:white;
    letter-spacing:6px;
}


/*Style images*/ 

.responsive{
    height: 100%;
    width: 100%;
}





/** Footer Section **/

footer{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content:center;

    text-align: center;
    font-size: .5em;
    letter-spacing: .2em;
    background-color:rgba(240,240,240,0.3);
    border-bottom:.5px solid var(--verde);
    border-top:none;
    width:100%;
    position:fixed;
    bottom:0;
    padding:10px;
}

