:root{
    --verde:#9dfc7b;
    --texto-gris:#a7a7a7;
}

/* Verde anterior de repuesto #bdffa4 */


body{
    font-family: 'Rubik', sans-serif;
    color:#a7a7a7;
    min-height: 95vh;
}

.container{
    min-height: 100vh;
}

/** Style NavBar **/

nav{
    padding:50px 0 0 0;
    top:0;
    /*background-color:rgb(255, 255, 255, .8);*/
    background: linear-gradient(to bottom, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 100%);
    border-bottom: 1px solid var(--verde);
}

li.nav-item{
    margin:0;
    padding:0;
    flex: 1 1 auto;
    text-align:center;
    position:relative;
    bottom:-1px;
}


ul li a{
    color:#8a8a8a;
    text-decoration: none;
    padding:0px 15px 12px 15px;
    letter-spacing: 4px;
    line-height: 3;
}


ul li a:hover{
    border-bottom: 4px solid var(--verde);
    text-decoration: none;
    color:#222;
    font-weight:500;
}

ul li a:active{
    border-bottom: 4px solid var(--verde);
    text-decoration: none;
    color:#222;
    font-weight:500;
}







/** Style mi nombre **/

.name-me{
    margin:45px 0px 35px 0;
}


h6{
    font-weight: 100;
    color:#ccc;
    text-transform: uppercase;
    font-size: .75em;
    letter-spacing: 3px;
}

.line{
    height: 0px;
    width:30px;
    border: 2px solid var(--verde);
    display:block;
}


/** Style main section **/

.rect-h1{
    background-color:var(--verde);
    text-align: center;
    padding:0px;
    margin: 0px;

}

h1.main-title{
    font-weight: 500;
    color:white;
    letter-spacing:6px;
}


/*************************Style images****************************/ 

.responsive{
    height:100%;
    width: 100%;
    margin:0 auto;
}


/*Portfolio images row*/
.container-img-portfolio{
    margin:3px 0;
}

.img-portfolio{
    width:100%;
}

/*    background: linear-gradient(to bottom, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 100%)*/

.caption-img{
    position:relative;
    height:30px;
    padding:3px;
    width: 100%;
    bottom:30px;
    background-color:var(--verde);
    text-align:center;
    color:#222;
    opacity: .9;
    display:block;
    visibility: hidden;
    opacity:0;

}

.container-img-portfolio:hover .caption-img {
    display:block;
    visibility: visible;
    opacity:.8;
    filter: alpha(opacity=50);
    transition: ease .6s ;

}

.container-img-portfolio:hover .img-portfolio{
    opacity: .7;
    filter: alpha(opacity=70);
    transition:ease .6s;
}

/*************************Style images****************************/ 


/*************************FORMULARIO DE CONTACTO****************************/ 

form{
    margin:0;
    padding:0;
    width:100%;
}
input{
    width:100%;
    display:block;
    margin-bottom:0 0 10px 0;
    padding: 4px 10px;
    box-sizing: border-box;
    border: 1px solid var(--verde);
    border-radius: 4px;
    background-color: #f8f8f8;
}
label{
    width: 100%;
    display:block;
    margin:0 auto;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid var(--verde);
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

 .botoncito{
     width:20%;
      background-color:var(--verde);
      border:1px solid #d7d7d7;
      color: #838383;
      border-radius: 4px;
  }

  .botoncito:hover{
    width:20%;
     background-color:black;
     border:3px solid #00ff00;
     color:var(--verde);
     border-radius: 4px;
 }
  
/*************************FORMULARIO DE CONTACTO****************************/ 





/** Footer Section **/

footer{


    text-align: center;
    font-size: .5em;
    letter-spacing: .2em;
    background-color:rgba(240,240,240,0.3);
    border-bottom:.5px solid var(--verde);
    border-top:none;
    width:100%;
    position:relative;
    bottom:0;
    padding:10px;
    margin-top:50px;
}



/*Media Queries*/


@media screen and (max-width:768px){
    li.nav-item{
        width:100%;
        border-bottom: 1px solid var(--verde);
        padding:10px;
    }
    nav{
        padding:0;
        margin:0;
        position:static!important;
        background: linear-gradient(to bottom, rgba(245,245,245,.6) 0%, rgba(255,255,255,1) 100%);
    }
    ul li a{
        padding:20;
        line-height:1.3;
    }
}

